In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config_Google import google_API_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=google_API_key)

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Challange/WeatherPy_vacation.csv")
# Display sample data
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
...,...,...,...,...,...,...,...,...
347,695,Kostomuksha,RU,79.27,overcast clouds,64.57,30.58,Apartments on Lenina 17
348,700,Sabratah,LY,85.15,clear sky,32.79,12.49,مقبرة المجاهديه
349,704,Wuwei,CN,75.00,overcast clouds,37.93,102.64,Thank Inn Chain Hotel gansu wuwei liangzhou di...
350,705,Chake Chake,TZ,78.87,few clouds,-5.25,39.77,Hotel Archipelago
351,706,Januaria,BR,79.92,clear sky,-15.48,-44.37,Hotel Paraguassu

In [4]:
# Review the formatting template
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description} and {Max Temp} °F


"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"]=="Cascais")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Mata")]                                                                                             
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="La Rioja")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Mao")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Marsala")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
194,415,Cascais,PT,73.99,few clouds,38.7,-9.42,Hotel Vila Galé Cascais

In [7]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])
start

(38.7, -9.42)

In [8]:
# Define a new figure object
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

vacation_itinerary = gmaps.directions_layer(start, end, waypoints= [stop1,stop2,stop3], travel_mode= "DRIVING" or "BICYCLING" or "WALKING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,415,Cascais,PT,73.99,few clouds,38.70,-9.42,Hotel Vila Galé Cascais
1,582,La Rioja,ES,78.80,overcast clouds,42.25,-2.50,Casa Concejos
2,395,Mao,ES,84.20,few clouds,39.89,4.27,ARTIEM Capri
3,278,Marsala,IT,86.00,clear sky,37.80,12.44,Villa Favorita Hotel e Resort

In [10]:
# Review the formatting template
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description} and {Max Temp} °F


"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]

In [11]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))